@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mr+Dafoe&family=Nuosu+SIL&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&family=Sacramento&family=Tangerine:wght@400;700&display=swap');
body{
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url(../css/images/bannerimg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(250, 248, 248, 0.5);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
}
.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 22px;
}
.action{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    font-size: 55px;
}
.text-container p:nth-child(3){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #faf6f6;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 5px;
    margin: 45px 0px 25px;
}
.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    margin: 0px 10px;
    background-color: #F06292;
    color: #fff;
}
.hire-btn{
    border: 2px solid #f8f5f5;
}
.down-cv{
    border: 2px solid #f8f5f5;
}
.text-container button:hover{
    border: 2px solid #F06292;
    background-color: #f8f5f5;
    color: #F06292;
}
button:active{
    transform: scale(1.1);
}
.model{
    height: 765px;
    position: absolute;
    bottom: 0px;
    /* top: 60px; */
    left: 70%;
    transform: translateX(-25%);
}
/*---------------- about css area ------------*/
.about-container{
    width: 80%;
    height: 330px;
    background-color: rgb(35, 6, 41);
    border-radius: 20px;
    box-shadow: 2px 12px 12px 20px rgba(255, 255, 255, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 280px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px 12px rgba(250, 248, 248,0.3);
    /* margin: 20px; */
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #f6f5f5;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(2){
    color: #e1e1e1;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 10px;
}
.about-text p:nth-child(3){
    color: #c6c6c6;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}
.about-text button{
    width: 120px;
    height: 40px;
    outline: none;
    /* border: 1px solid #000000; */
    font-family: calibri;
    font-size: 18px;
    font-weight: bold;
    background-color: #F06292;
    color: #fff;
    border: 2px solid #f8f5f5;
}
.about-text button:hover{
    background-color: #f8f5f5;
    color: #F06292;
    border: 2px solid #F06292;
}
/*---------------- services area css -------------*/
.services{
    height: 600px;
    background-color: #ebe4e6;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 35px;
    line-height: 0px;
}
.services-text p:nth-child(2){
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 20px;
    line-height: 5px;
}
.services-text p:nth-child(3){
    font-family: calibri;
    color: #6e6d5d;
    font-family: 15px;
}
.services-text{
    width: 500px;
    margin: 50px 0px;
    
}
.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    background-color: rgba(35, 6, 41,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-1:hover{
    background-color: rgba(0, 0, 0,0.9);
} 
.box-2:hover{
    background-color: rgba(0, 0, 0,0.9);
} 
.box-3:hover{
    background-color: rgba(0, 0, 0,0.9);
} 
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #fff;
    font-family: calibri;
    font-size: 25px;
    line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    color: #8f8f8f;
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin: 0px 20px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}
/*------------------ contact me ---------------*/
.contact-me{
    width: 100%;
    height: 280px;
    background-image: url(../css/images/contact-me/img-01.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
/*-------------- footer area css ------------------*/
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
/*--------- social-icons ------------------*/
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe4e6;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #fff;
    transition: all ease 0.5s;
}
.social-icons{
    display: flex;
}
.social-icons i{
    color: #000;
}
.copyright{
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
/*--------------- attached social bar ------------*/
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);  
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}
/*------------ Skills area start ---------------*/
.skill-section{
    background-color: rgba(35, 6, 41,0.5);
    height: 600px;
}
.skill-box{
    font-size: 20px;
    font-family: calibri;
    width: 95%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 20px;
    border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
}
.skill-Bar{
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, 0.3);
    border-radius: 50px;
    margin: 20px auto;
}
/*----------- HTML --------------*/
.skill-HTML{
    width: 100%;
     height: 50px; 
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    position: absolute;
    background-color: #F06292;
    border-radius: 50px;
}
/* animation */
/* @keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 100%;
    }
}
@-webkit-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 100%;
    }
}
@-moz-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 100%;
    }
}
@-o-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 100%;
    }
} */
/*-------------- CSS ----------------*/
.skill-CSS{
    width: 80%;
    height: 50px; 
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    position: absolute;
    background-color: #917ee7;
    border-radius: 50px;
}
/* animation */
/* @keyframes Animate-CSS{
    form{
        width: 10px;
    }
    to{
        width: 80%;
    }
}
@-webkit-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 80%;
    }
}
@-moz-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 80%;
    }
}
@-o-keyframes Animate-HTML{
    form{
        width: 10px;
    }
    to{
        width: 80%;
    }
} */
/*--------- BootStrap ----------------------*/
.skill-BootStrap{
    width: 72%;
     height: 50px; 
    animation: Animate-BootStrap 5s;
    -webkit-animation: Animate-BootStrap 5s;
    -moz-animation: Animate-BootStrap 5s;
    -o-animation: Animate-BootStrap 5s;
    position: absolute;
    background-color: #7fe6dd;
    border-radius: 50px;
}
/* animation
@keyframes Animate-BootStrap{
    form{
        width: 10px;
    }
    to{
        width: 72%;
    }
}
@-webkit-keyframes Animate-BootStrap{
    form{
        width: 10px;
    }
    to{
        width: 72%;
    }
}
@-moz-keyframes Animate-BootStrap{
    form{
        width: 10px;
    }
    to{
        width: 72%;
    }
}
@-o-keyframes Animate-BootStrap{
    form{
        width: 10px;
    }
    to{
        width: 72%;
    }
} */
/*------------ JQuery --------------------*/
.skill-JQuery{
    width: 52%;
     height: 50px; 
    animation: Animate-JQuery 4s;
    -webkit-animation: Animate-JQuery 4s;
    -moz-animation: Animate-JQuery 4s;
    -o-animation: Animate-JQuery 4s;
    position: absolute;
    background-color: #96e668;
    border-radius: 50px;
}
/* @keyframes Animate-JQuery{
    to{
        width: 10px;
    }
    form{
        width: 72%;
    }
} */
/*------------------ JavaScript ---------------------*/
.skill-JavaScript{
    width: 68%;
     height: 50px; 
    animation: Animate-JavaScript 4s;
    -webkit-animation: Animate-JavaScript 4s;
    -moz-animation: Animate-JavaScript 4s;
    -o-animation: Animate-JavaScript 4s;
    position: absolute;
    background-color: #dad268;
    border-radius: 50px;
}
/*---------------- PHP ---------------------*/
.skill-PHP{
    width: 40%;
     height: 50px; 
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    position: absolute;
    background-color: #f89d9d;
    border-radius: 50px;
}
/*----------------- Skill-Area -------------------------*/
.Skill-Area{
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 18px;
}
.Percent-Text{
   z-index: 3;
   position: relative;
   padding-right: 15px;
   margin-top: 15px;
   float: right;
   text-shadow: none;
   color: #fff;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}